<h1>Reviews</h1>
<p><%= link_to 'New Review', new_book_review_path(@book) %></p>
<table>
  <tr>
    <th>Rating</th>
    <th>Comment</th>
    <th colspan="3"></th>
  </tr>
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.rating %></td>
      <td><%= review.comment %></td>
      <td><%= link_to 'Show', book_review_path(@book, review) %></td>
      <td><%= link_to 'Edit', edit_book_review_path(@book, review) %></td>
      <td><%= link_to 'Destroy', book_review_path(@book, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'Back', book_path(@book) %>
