<h1>New Review</h1>
<%= form_with model: @review, url: book_reviews_path(@book) do |form| %>
  <div>
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>
  <div>
    <%= form.label :review %>
    <%= form.number_field :review, in: 1..5 %> <!-- Assuming the rating is from 1 to 5 -->
  </div>
  <%= form.submit %>
<% end %>
